<div class="body h-screen bg-blue-50">
  <div class="flex w-full h-full flex-column">
    <div class="w-full p-2">
      <h1 class="flex align-content-center justify-content-center bg-blue-100">
        {{ title }}
      </h1>
    </div>
    <div class="flex justify-content-end">
      <div class="flex flex-column gap-1">
        <button class="p-button-success" pButton label="Dodaj zadanie"></button>
        <button class="p-button-warning" pButton label="Zakończ"></button>
      </div>
    </div>
    <div class="flex justify-content-center">
      <span class="p-float-label">
        <input class="h-full" id="float-input" type="text" pInputText />
        <label for="float-input">Treść zadania</label>
      </span>
      <p-calendar [(ngModel)]="value" dateFormat="dd.mm.yy"></p-calendar>
      <button
        pButton
        pRipple
        type="button"
        icon="pi pi-plus"
        class="p-button-rounded"
      ></button>
    </div>
    <div>
      <ul class="">
        <li class="flex">
          <span class="align-self-center">1 Siłownia - 11.07 czwartek</span>
          <div class="gap-1 flex">
            <button
              class="p-button-danger"
              pButton
              pRipple
              type="button"
              icon="pi pi-minus"
            ></button>
            <button
              pButton
              class="p-button-success"
              pRipple
              type="button"
              icon="pi pi-check"
            ></button>
          </div>
        </li>
        <li class="flex">
          <span class="col done">Sprzątanie kuwet</span>
        </li>
      </ul>
    </div>
    <div class="w-full p-2">
      <h1 class="flex align-content-center justify-content-center">
        Dzisiaj brak zadań!
      </h1>
    </div>
    <div><button class="p-button-danger" pButton label="WYCZYŚĆ"></button></div>
  </div>
</div>
<div
  class="footer h-3rem bg-blue-500 flex align-items-center justify-content-center"
>
  <h3>{{ getFooter() }}</h3>
</div>
<!--
  <ul class="collection">
    <li class="collection-item row">
      <span class="col s10">1 Siłownia - 11.07 czwartek</span>
      <div class="col s2 right-align">
        <button class="btn-floating btn-small red">
          <i class="material-icons">remove</i>
        </button>
        <button class="btn-floating btn-small green ml-5">
          <i class="material-icons">check</i>
        </button>
      </div>
    </li>
    <li class="collection-item row">
      <span class="col done">Sprzątanie kuwet</span>
    </li>
  </ul>

  <h1>Dzisiaj brak zadań :-)</h1>

  <button class="btn red">Wyczyść</button>

  <footer class="page-footer mt-5">
    <div class="footer-copyright">
      <div class="container">2020 © Lista zadań,All rights reserved.</div>
    </div>
  </footer>
</div> -->
